* {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    margin: 0;
  }

  i.icon-blue {
    color: white;
    font-size: 48px;
}


table {
  border: 1px solid black;

}
 
td {
    padding: 15px;
    text-align: left;
  }

.table-header-group {
    background-image: linear-gradient(to right top, #f0f5f1, #d1ebe2, #ade1df, #87d5e5, #6ac6ee, #54b9f3, #49acf6, #509cf6, #408ff6, #3581f4, #3073f1, #3464ed);   
    width: 520px;
    height: 200px;
    border-radius: 8px;
  }

  button {
    position: relative;
    display: grid;
    place-items: center;
    width: 99px;
    height: 99px;
    border-radius: 25px;
    border: 0;
    background: #faa92f;
  
  }

  .button-1 {
    position: relative;
    display: grid;
    place-items: center;
    width: 99px;
    height: 99px;
    border-radius: 25px;
    border: 0;
    background: #faa92f;
  
  }
  
  .button-2 {
    position: relative;
    display: grid;
    place-items: center;
    width: 99px;
    height: 99px;
    border-radius: 25px;
    border: 0;
    background: #061fdc;
  
  }

  .button-3 {
    position: relative;
    display: grid;
    place-items: right;
    width: 62px;
    height: 36px;
    border-radius: 25px;
    border: 5;
    margin: 0 auto;
    grid-gap: 80px;
    background: #061fdc;
  }

.bn37 {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    box-shadow: 0px 15px 20px rgba(81, 83, 82, 0.4);
  }

  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    align-items: center;
    width:50%; 
    float:left;
    height:250px; 
  }


