
#portal .container {
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(247, 247, 247, 0.7);
}

.container .modal {
  font-family: sans-serif;
  z-index: 1;
  width: 550px;
  height: 480px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}

.btn-container {
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.btn-container button {
  display: flex;
}

.modal button {
  position: relative;
  top: 7px;
  right: 7px;
  padding: 8px 11px;

  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;


  font-weight: bold 400;
  text-align: center;
  vertical-align: middle;
  transition: box-shadow 0.3s;
  transform: translateZ(0);
  line-height: 1.5;
}

.modal::backdrop {
  background: rgba(224, 228, 232, 0.9);
  animation: 0.4s ease fade;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  
  &:hover {
    color: black;
  }
}

.bn37 {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  box-shadow: 0px 15px 20px rgba(81, 83, 82, 0.4);
}

.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.bn37:disabled {
  background: grey;
  cursor: not-allowed;
}

i.md40px {
  font-size: 45px;
}

/* Button Attributes  */

.button-text {

  flex: 0 0 50px;
  text-align: center;
  bottom: 28px;
}

.animation {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  scale: 1;
}

.can {
  padding-top: 2px;
  overflow: hidden;
  position: relative;
  translate: 0 2px;
  width: 18px;
  height: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 2px solid #ffffff;
  border-top: 5;
  bottom: -10px;
}

@keyframes lid-open {
  0% {
    rotate: 0;
  }
  15%,
  90% {
    rotate: -75deg;
    translate: -70% -20%;
    width: 20px;
  }
}

.lid {
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50% 0;
  transform-origin: 0% 0%;
  width: 20px;
  height: 2px;
  background: #ffffff;
}

@keyframes balls-drop {
  0%,
  20% {
    translate: -50% 0;
  }
  40% {
    scale: 1 1;
  }
  40%,
  100% {
    translate: -50% 56px;
  }

  50%,
  100% {
    scale: 2.1 1;
  }
}

.balls {
  position: absolute;
  top: -22px;
  left: 50%;
  translate: -50% 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ffffff;
}

@keyframes fill {
  0%,
  20% {
    translate: 0 0;
  }
  50%,
  70% {
    translate: 0 -50%;
  }
  90%,
  100% {
    translate: 0 -100%;
  }
}

.filler {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 120%;
  background: #ffffff;
}


/* Animate  */

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
