* {
    box-sizing: border-box;
  }
  
body {
    display: grid;
    place-items: center;
    margin: 0;
  }

  .buttoner {
    position: relative;
    display: grid;
    place-items: center;
    width: 99px;
    height: 99px;
    border-radius: 25px;
    border: 0;
    background: #faa92f;
    color: white;
  
  }

  .buttonBlue  {
    position: relative;
    display: grid;
    place-items: center;
    width: 99px;
    height: 99px;
    border-radius: 25px;
    border: 0;
    color: white;
    background: #316efd;
    font-size: 98px;
  
  }

  .buttonDanger {
    position: relative;
    color: grey;
    place-items: center;
    font-weight: bold;
    width: 62px;
    height: 26px;
    border-radius: 25px;
    border: 5;
    margin: 0 auto;
    grid-gap: 80px;
    padding:0;
    flex-direction: row;
  }
 
.bn37 {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }

  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

  .bn37:disabled {
    background: grey;
    cursor: not-allowed;
  }

  .buttonContainer {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 80px;
    align-items: center;
    width:50%; 
    float:left;
    height:250px; 
  }

  .box {
    border: solid .2em #f5f5f5;  
    border-radius: 2.5em;
    width: auto;
    height: auto;
    background-color:#ffffff;
    
  
}
